*,
*::before,
*::after {
  box-sizing: border-box;
}

:root{
  --ff-primary: 'Source Sans Pro', sans-serif;  /*font-family*/
  --ff-secondary: 'Source Code Pro', sans-serif;

  --fw-reg: 300; /*font-weight*/
  --fw-bold: 900;
  
  --clr-light: #fff;
  --clr-dark: #5c5c5c;
  --clr-accent: #16e0bd;

  --fs-h1: 3rem; /*font-size*/
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;

  --bs: 0.25em 0.25em 0.75em rgba(0,0,0, .25),
        0.125em 0.125em 0.25em rgba(0,0,0,0.15);
}

  @media (min-width: 800px) {
    :root{
      --fs-h1: 4.5;
      --fs-h2: 3.75rem;
      --fs-h3: 1.5rem;
      --fs-body: 1.125rem;

    }
  }

  /* General Style */

  html {
    scroll-behavior: smooth;
  }

  body {
    background-color: var(--clr-light);
    color:  var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
  }
    
    section{
      padding: 5em 2em;
    }

  img{
    display: block;
    max-width: 100%;
  }

  strong {
    font-weight: var(--fw-bold);
  }

/* :focus{
    outline: 1px solid var(--clr-accent);
    outline-offset: 3px;
  } */

 /* Buttons */
  .btn{
    display: inline-block;
    padding: .5em 2.5em;
    background-color: var(--clr-accent);
    color: var(--clr-dark);
    text-decoration: none;
    cursor: pointer;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    transition: transform 200ms ease-in-out;
    border-radius: 50px;
  }

  .btn:hover {
    transform: scale(1.1);
  }

  /* Typography */

  h1, h2, h3 {
    line-height: 1.1;
    margin: 0;
  }

  h1 { font-size: var(--fs-h1); }

  h2 { font-size: var(--fs-h2); }

  h3 { font-size: var(--fs-h3); }

  .section__title {
    grid-area: title;
    font-size: 3em;
      margin-bottom: .25em;
  }

  .section__title--intro {
    font-weight: var(--fw-reg);
  }

  .section__title--intro strong{
    display: block;
    font-size: 2em;
    font-weight: var(--fw-bold);
  }

  .section__subtitle{
    grid-area: subtitle;
    margin: 0;
    font-size: var(--fs-h3);
  }

  .section__subtitle--intro,
  .section__subtitle--about {
    background: var(--clr-accent);
    padding: .25em 1em;
    font-family: var(--ff-secondary);
    margin-bottom: 1em;
  }

  .section__subtitle--work{
    color: var(--clr-accent);
    font-weight: var(--fw-bold);
    margin-bottom: 2em;
  }

  .portfolio__title{
    color: var(--clr-light);
    font-size: 3em;
    margin-bottom: .25em;
  }

  .portfolio__title--intro{
    font-weight: var(--fw-reg);
  }

  .portfolio__title--intro strong {
    display: block;
    font-size: 2em;
    font-weight: var(--fw-bold);
  }

  .worktab_title {
    font-size: 2em;
    margin-bottom: 0.25em;
    text-align: left;
  }

  /* Header */
header {
  display: flex;
  justify-content: space-between;
  padding: 2em;
}

.logo {
  max-width: 100px;
  letter-spacing: 0.7px;
}

.nav {
  position: fixed;
  background: var(--clr-dark);
  color: var(--clr-light);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
}

.nav__list{
  display: flex;
  list-style: none;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav__link{
  color: inherit;
  font-weight: var(--fw-bold);
  font-size: var(--fs-h2);
  text-decoration: none;
}

.nav__link:hover {
  color: var(--clr-accent);
}

.nav-toggle /*size of hamburger button */{
  padding: 0.75em;
  background: transparent;
  border: 0;
  cursor: pointer;
  position: absolute; /* 用住先 */
  right: 1em;
  top: 1em;
  z-index: 1000;
}

/* menu打開時 JS新建.nav-open後 */

.nav-open .nav{
  transform: translateX(0);
}

.nav-open .nav-toggle {
  position: fixed;
}

.nav-open .hamburger {
  transform: rotate(.625turn); /* menu打開時旋轉 */
}


.nav-open .hamburger::before{
  transform: rotate(90deg) translateX(-6px); /* 第2條線旋轉並移動 */
}


.nav-open .hamburger::after{ 
  opacity: 0; /* make the third line invisible */
}

/* .nav-open end */

.hamburger {

  display: block;
  position: fixed;
  right: 10px;
  z-index: 3;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    background: var(--clr-accent);
    width: 2em;
    height: 3px;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;

}


.hamburger::before,
.hamburger::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
}

.hamburger::before{top: 6px;}
.hamburger::after{bottom: 6px;}

  /* Intro section */
  
  .intro {
    position: relative;
  }

  .intro__img{
    box-shadow: var(--bs);
  }

  .section__subtitle--intro{
    display: inline-block;
  }

  @media (min-width: 600px) {
    .intro {
      display: grid;
      width: min-content;
      margin: 0 auto;
      grid-column-gap: 1em;
      grid-template-areas: "img title" 
                           "img subtitle";
      grid-template-columns: auto auto;
    }

    .intro__img{
      grid-area: img;
      min-width: 200px;
      height: 200px;
      object-fit: cover;
      object-position: 90% 15%;
      position: relative;
      border-radius: 25px;
      top: 120px;
      left: 20px;
      z-index: 2;
      rotate: -5deg;
    }

    .intro__img_memoji{
      grid-area: img;
      min-width: 350px;
      height: 350px;
      position: relative;
      z-index: 1;
      left: 50px;
      bottom: 50px;
      margin-left: 80px;
      rotate: 5deg;    
    }
    .section__subtitle--intro{
      align-self: start;
      grid-column: -1 / 1;
      grid-row: 2;
      text-align: right;
      position: relative;
      left: -1.5em;
      width: calc(100% + 1.5em);
    }
  }

  @media only screen and (max-width: 600px){

    section{
      padding: 2.5em 1em;
    }

    .intro {
      display: grid;
      width: auto;
      margin: 0 auto;
      grid-column-gap: 1em;
      grid-template-areas: "img img"
                            "title title"
                            "subtitle subtitle";
      grid-template-columns: min-content max-content;
      overflow: hidden;   
    }

    .intro__img{
      grid-area: img;
      min-width: 200px;
      height: 200px;
      object-fit: cover;
      object-position: 90% 15%;
      position: relative;
      border-radius: 25px;
      top: 140px;
      left: 20px;
      z-index: 2;
      rotate: -5deg;
    }

    .intro__img_memoji{
      grid-area: img;
      min-width: 350px;
      height: 350px;
      position: relative;
      z-index: 1;
      left: 150px;
      /* margin-left: 80px; */
      rotate: 5deg; 
    }

    .section__subtitle--intro{
      align-self: end;
      grid-column: -1 / 1;
      grid-row: 3;
      text-align: left;
      position: relative;   
      width: calc(100% + 1.5em);
    }

    .about-me__img{
      grid-area: img;
      position: relative;
      z-index: 2;
      width: 100%;
      height: 200px;
      object-fit: cover;
    }
  }

  /* My Service Section */

  .my-services{
    background-color: var(--clr-dark);
    background-image: url(https://images.unsplash.com/photo-1574717024653-61fd2cf4d44d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2670&q=80);
    background-size: cover;
    background-blend-mode: multiply;
    color: var(--clr-light);
    text-align: center;
  }

  .section__title--services{
    color: var(--clr-accent);
    position: relative;
  }
  
/* opacity line */

  .section__title--services::after{
    content: '';
    display: block;
    width: 3em;
    height: 1px;
    margin: 0.5em auto 1em;
    background: var(--clr-light);
    opacity: 0.25;
  }

  .services{
    margin-bottom: 2em;
  }

  .service {
    max-width: 500px;
    margin: 0 auto;
  }

@media (min-width: 800px) {
  .services{
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
  }

  .service + .service{
    margin-left: 2em;
  }
}
.about-me{
  max-width: 1000px;
  margin: 0 auto;
}

.about-me__img{
  box-shadow: var(--bs);
}

@media (min-width: 600px) {
    .about-me{
      display: grid;
      grid-template-columns: 1fr 200px;
      grid-template-areas: 
      "title img"
      "subtitle img"
      "text img";
      grid-column-gap: 2em;
    }

    .section__title--about{
      grid-area: title;
    }

    .section__subtitle--about{
      grid-column: 1 / -1;
      grid-row: 2;
      position: relative;
      left: -2em;
      width: calc(100% + 4em);
      padding-left: 2em;
      padding-right: calc(200px + 4em);
    }

    .about-me__img{
      grid-area: img;
      position: relative;
      z-index: 2;
      width: calc(100% + 2em);
    }
}

/* My Work */

.my-work {
  background-color: var(--clr-dark);
  color: var(--clr-light);
  text-align: center;
}

.portfolio {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 5px;
}

.portfolio__item{
  overflow: hidden;
}

.portfolio__img{
  transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
}


.portfolio__img:hover, .portfolio__item:focus{
  transform: scale(1.2);
}

/* footer */

.footer {
  background: #111;
  text-align: center;
  padding: 2.5em 0;
}

.footer-link{
  font-size: var(--fs-h3);
  font-weight: var(--fw-bold);
}

.footer .footer-link{
  display: block; 
  width: 100%; 
  padding: 20px; 
  position: relative; 
  z-index: 2;
  color: var(--clr-accent);
  text-decoration: none;
  box-sizing: border-box;
}

.footer .footer-link:hover{
  border-bottom: 0px;
  color: #fff;
}

.footer .footer-link::after{
  content: "";
  height: 100%; 
  left: 0; 
  top: 0; 
  width: 0px;  
  position: absolute; 
  transition: all 0.3s ease 0s; 
  -webkit-transition: all 0.3s ease 0s; 
  z-index: -1;  
}

.footer .footer-link:hover:after{
  width: 100%;
}

.footer .footer-link:after {
  background: var(--clr-accent);
}

.social-list__link {
  color: inherit;
  text-decoration: none;
}

.social-list__link:hover{
  color: var(--clr-light);
}

.social-list {
   list-style: none;
   display: flex;
   justify-content: center;
   margin: 2em 0;
   padding: 0;
}

.social-list__item {
  margin: 0 1em;
}

.social-list__link {
  padding: .5em;
}

/* portfolio page sytle */

.work_tab_container{
  margin: 0 auto;
}

.portfolio_item_content {
  padding: 0 2em 2em;
  max-width: 1000px;
  margin: 0 auto;
}

.work_tab_box {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

.work_tab_box .tab_btn {
  font-size: var(--ff-secondary);
  font-weight: var(--fw-reg);
  color: var(--clr-light);
  background: none;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.work_tab_box .tab_btn.active {
  color:#16e0bd
}

.work_tab_content_box {
  padding: 20px;
}

.work_tab_content_box .content {
  display: none;
}

.work_tab_content_box .content.active {
  display: block;
}

.work_tab_content_box .content h2{
  margin-bottom: 10px;
}

.line {
  position: absolute;
  top: 2.5em;
  left: 0;
  width: 0px;
  height: 3px;
  background-color: var(--clr-accent);
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}