*{
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

 body{
  height: 1000vh;
} 

nav{
  display: flex;
  justify-content: flex-end;
  padding: 30px 100px 0 0;
  margin: 0 -30px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

nav ul li{
  list-style-type: none;
  display: inline-block;
  padding: 10px 15px;
}

 nav ul li a{
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  color: #80bfff;
 }

.hero{
  background-image: url(https://images.unsplash.com/photo-1571171637578-41bc2dd41cd2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  width: auto;
}

.hero-overlay::before{
  content: "";
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0,0,0,0.4);
}

.hero-overlay{
  background-image: url(https://cdnjs.cloudflare.com/ajax/libs/vegas/2.3.1/overlays/03.png); 
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: auto;
}


.hero-overlay h2{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  color: #ffffff;
  font-size: 10vw;
  line-height: 1;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}


@media screen and (max-width: 600px){
  .hero-overlay h2{
    font-size: 13vw;
  }
};

.about{
  height: 250vh;
  width: auto;
  display: flex;
  justify-content: center;
  background: red;
}