*{
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

body{
  height: 1000vh;
}

.hero{
  background-image: url(https://images.unsplash.com/photo-1571171637578-41bc2dd41cd2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  width: auto;
}

.hero-overlay::before{
  content: "";
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0,0,0,0.4);
}

.hero-overlay{
  background-image: url(https://cdnjs.cloudflare.com/ajax/libs/vegas/2.3.1/overlays/03.png); 
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-overlay h2{
  position: relative;
  color: #ffffff;
  font-size: 10vw;
  line-height: 1;
  text-align: center;
}

/* @media screen and (max-width: 600px){
  .hero-overlay h2{
    font-size: 5em;
  }
}; */

